* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo,
.title {
  font-family: "Shrikhand", cursive;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 17px 0;
}
.header-logo img {
  width: 162px;
}

.header-location {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px 0;
  background-color: #eaeaea;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
}

/************ Section Intro **************/
.Intro {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.Intro-discover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  padding: 45px 0;
  background-color: #f6f6f6;
  text-align: center;
}
.Intro-discover h2 {
  font-size: 20px;
  max-width: 230px;
}
.Intro-discover h3 {
  display: flex;
  font-size: 14px;
  white-space: pre-line;
  font-weight: normal;
}
.Intro-discover a {
  padding: 12px 18px;
  border-radius: 20px;
  font-size: 14px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
}

.Intro-fonctioning {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Intro-fonctioning h2 {
  font-size: 18px;
  padding-left: 20px;
}
.Intro-fonctioning .navbar-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 18px 0 33px;
  font-size: 14px;
}
.Intro-fonctioning .navbar-list-item a {
  display: flex;
  position: relative;
  justify-content: space-around;
  height: 72px;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 15px;
}
.Intro-fonctioning .navbar-list-item span {
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
  left: -12px;
}
.Intro-fonctioning .navbar-list-item i {
  flex: 1;
  text-align: center;
}
.Intro-fonctioning .navbar-list-item h3 {
  flex: 4;
}

/************* Section Restaurants ************/
.rest {
  display: flex;
  flex-direction: column;
  gap: 26px;
  background-color: #f6f6f6;
  margin-top: 63px;
  padding: 58px 0;
}
.rest h2 {
  font-size: 18px;
  padding-left: 20px;
}
.rest-list {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 0 20px;
}
.rest-list-item a {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  border-radius: 15px;
  background-color: #fff;
}
.rest-list-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.rest-list-info-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 12px;
}
.rest-list-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.rest-list-likes {
  font-size: 20px;
  position: relative;
}
.rest-list-likes .like {
  opacity: 0;
}
.rest-list-likes .like-stroke {
  position: absolute;
  left: 0;
}
.rest-list .newTag {
  font-size: 12px;
  padding: 6px 14px;
  background-color: #99E2D0;
  position: absolute;
  right: 12px;
  top: 12px;
  color: #278870;
  font-weight: bold;
  border-radius: 3px;
}