* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo,
.title {
  font-family: "Shrikhand", cursive;
}

.Intro-discover a {
  border-radius: 25px;
  color: #fff;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.1);
  transition: all 1.5s ease;
}
.Intro-discover a:hover {
  box-shadow: 0px 3px 7px 2px rgba(0, 0, 0, 0.2);
  background: linear-gradient(#ff93e1, #a16be0);
}

@-webkit-keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes animate-ball {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes animate-ball {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loading {
  width: 100%;
  background-color: rgb(245, 239, 239);
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  -webkit-animation: disappear 3s linear forwards;
          animation: disappear 3s linear forwards;
}
.ring {
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #99E2D0;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-size: 18px;
  color: #9356DC;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #FF79DA;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
}
.ring::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #9356DC;
  border-right: 3px solid #FF79DA;
  border-radius: 50%;
  -webkit-animation: animateC 2s linear infinite;
          animation: animateC 2s linear infinite;
}
.ring span {
  display: block;
  position: absolute;
  top: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: right;
  -webkit-animation: animate-ball 2s linear infinite;
          animation: animate-ball 2s linear infinite;
}
.ring span::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(#FF79DA, #99E2D0, #9356DC);
  top: -6px;
  left: -8px;
  box-shadow: 0 0 20px #99E2D0;
  -webkit-animation: animate-ball 2s linear infinite;
          animation: animate-ball 2s linear infinite;
}

.content {
  opacity: 0;
  -webkit-animation: show 0.5s linear 3s forwards;
          animation: show 0.5s linear 3s forwards;
}

/************* Header **************/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
.header-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 17px 0;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.2);
}
.header-logo img {
  width: 162px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-location {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px 0;
  background-color: #eaeaea;
}

/************ Section Intro **************/
.Intro {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.Intro-discover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  padding: 45px 0;
  background-color: #f6f6f6;
  text-align: center;
}
.Intro-discover h2 {
  font-size: 20px;
  max-width: 230px;
}
.Intro-discover h3 {
  display: flex;
  font-size: 14px;
  white-space: pre-line;
  font-weight: normal;
}
.Intro-discover a {
  padding: 15px 20px;
  font-size: 14px;
}

.Intro-fonctioning {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Intro-fonctioning h2 {
  font-size: 18px;
  padding-left: 20px;
}
.Intro-fonctioning .navbar-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 18px 0 33px;
  font-size: 14px;
}
.Intro-fonctioning .navbar-list-item a {
  display: flex;
  position: relative;
  justify-content: space-around;
  height: 72px;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 15px;
  box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.1);
  transition: all 1.5s ease;
}
.Intro-fonctioning .navbar-list-item a:hover {
  background-color: #f2eafb;
}
.Intro-fonctioning .navbar-list-item a:hover i {
  color: #9356DC;
}
.Intro-fonctioning .navbar-list-item span {
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
  left: -12px;
}
.Intro-fonctioning .navbar-list-item i {
  flex: 1;
  text-align: center;
  transition: all 1.5s ease;
}
.Intro-fonctioning .navbar-list-item h3 {
  flex: 4;
}

/************* Section Restaurants ************/
.rest {
  display: flex;
  flex-direction: column;
  gap: 26px;
  background-color: #f6f6f6;
  margin-top: 63px;
  padding: 58px 0;
}
.rest h2 {
  font-size: 18px;
  padding-left: 20px;
}
.rest-list {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 0 20px;
}
.rest-list-item a {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.1);
}
.rest-list-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.rest-list-info-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 11px 12px;
}
.rest-list-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.rest-list-icon {
  font-size: 20px;
  cursor: pointer;
  position: relative;
}
.rest-list-icon::before {
  transition: opacity 0.5s ease;
}
.rest-list-icon::after {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.rest-list-icon:hover::before {
  opacity: 0;
}
.rest-list-icon:hover::after {
  opacity: 1;
}
.rest-list .newTag {
  font-size: 12px;
  padding: 6px 14px;
  background-color: #99E2D0;
  position: absolute;
  right: 12px;
  top: 12px;
  color: #278870;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.1);
}

/************* footer ***************/
.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #fff;
  background-color: #353535;
  padding: 12px 0 35px 24px;
}
.footer-title {
  font-size: 18px;
}
.footer-navbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-navbar .nav-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
}
.footer-navbar .nav-list a {
  display: flex;
  gap: 12px;
}

/************* Media Query ************/
/*********** for tablette ************/
@media only screen and (min-width :767.98px) {
  /********* Header **********/
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 20px;
    background-color: #f6f6f6;
  }
  .header-logo {
    box-shadow: none;
  }
  .header-location {
    background-color: unset;
  }
  .header-logo, .header-location {
    width: auto;
  }

  /********* Section Intro **********/
  .Intro {
    flex-direction: row;
    justify-content: space-between;
    padding: 43px 30px 30px;
  }
  .Intro-discover {
    flex: 1;
    gap: 42px;
    background-color: unset;
  }
  .Intro-fonctioning {
    flex: 1;
  }
  .Intro-fonctioning h2 {
    align-self: center;
  }
  .Intro-fonctioning .navbar-list-item a {
    background-color: unset;
  }
  .Intro-fonctioning .navbar-list-item h3 {
    flex: 2;
  }

  /********* Section rest *********/
  .rest-list {
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 25px;
  }
  .rest-list-item {
    width: 48%;
  }

  /******** Footer ***********/
  .footer {
    flex-direction: row;
    align-items: center;
    padding-top: 35px;
  }
  .footer-title {
    flex: 1;
    font-size: 20px;
  }
  .footer-navbar {
    flex-direction: row;
    flex: 2;
    justify-content: space-around;
  }
}
/********** for desktop *************/
@media only screen and (min-width :991.98px) {
  body {
    max-width: 1440px;
    margin: auto;
  }

  /********** Header *********/
  .header {
    background-color: unset;
    padding-bottom: 0;
  }

  /********** section Intro *********/
  .Intro {
    flex-direction: column;
    padding: 0 0 0px;
  }
  .Intro-discover {
    background-color: #f6f6f6;
  }
  .Intro-fonctioning h2 {
    align-self: flex-start;
    font-size: 20px;
  }
  .Intro-fonctioning .navbar-list {
    flex-direction: row;
    gap: 64px;
  }
  .Intro-fonctioning .navbar-list-item {
    flex: 1;
  }

  /********** section rest *********/
  .rest-list-item a {
    height: 300px;
  }

  .rest-list-item img {
    flex: 1;
  }

  /********** footer *********/
  .footer {
    gap: 0;
  }
  .footer-title {
    text-align: center;
    font-size: 30px;
  }
}