@use "./var";



@mixin shadow {
    box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.1);
}

@mixin transition ($prop:all,$time:1.5s,$function:ease){
    transition: $prop $time $function;
}

@mixin menu-shadow {
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,.1);
}

@mixin keyframe($animation-name){
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation(
        $name,
        $time:1s,
        $function:ease,
        $delay:0,
        $mode:forwards) {

        animation-name: $name;
        animation-duration: $time;
        animation-timing-function: $function;
        animation-delay: $delay;
        animation-fill-mode: $mode;
}

@mixin menu-type-animation {

    @include keyframe(slideDown) {
        from {
            transform: translateY(-20%);
            opacity: 0;
         }
     
         to {
             transform: translateY(0);
             opacity: 1;
         }
    }
    .menu-starters {
        @include animation(slideDown);
    }
    
    .menu-dishes {
        @include animation(slideDown,$delay:1s);
    }
    
    .menu-desserts {
        @include animation(slideDown,$delay:2s);
    }
}

@mixin center-body {
    body {
        max-width: 1440px;
        margin: auto;
    }
}

@mixin header-menu {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding:18px 0;
        position: relative;
    
        &-icon {
            position: absolute;
            left: 21px;
        }
    }
}

@mixin heart-icon {

    font-size: 20px;
    cursor: pointer;
    position: relative;

    &::before{
        transition: opacity 0.5s ease;
    }

    &::after{
        content:"\f004" ;
        font-family: 'Font Awesome 6 Free';
        font-weight: bold;
        background: linear-gradient(to right,var.$secondary-color,var.$primary-color);
        -webkit-text-fill-color:transparent;
        background-clip: text; 
        position: absolute;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    &:hover::before{
        opacity: 0;
    }

    &:hover::after{
        opacity: 1;
    }
}

@mixin main-menu {
    main {
        background-color: var.$bcg-color;
    
        @at-root .banner img{
            width: 100%;
            height:250px;
            object-fit: cover;
        }
    
        @at-root .menu {
            background-color: var.$bcg-color;
            padding:34px 15px 16px 15px;
            border-radius: 51px;
            display: flex;
            flex-direction: column;
            gap:40px;
            position: relative;
            top:-56px;
    
            &-title-wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 20px;
            }
    
            &-title {
                font-size: 26px;
                margin: 0;
            }
    
            &-title-icon {
                @include heart-icon;
            }
    
            &-content-wrap {
                display: flex;
                flex-direction: column;
                gap:42px;
            }
    
            .order-btn {
                padding:16px 49px;
                align-self: center;

                @extend %btn;
            }
        }
    }
}

@mixin btn-placeholder {
    %btn {
        border-radius: 25px; 
        color:#fff;
        background: linear-gradient(to bottom,var.$secondary-color,var.$primary-color);
        @include shadow;
        @include transition;
    
        &:hover{
            box-shadow: 0px 3px 7px 2px rgba(0,0,0,0.2);
            background: linear-gradient(lighten(var.$secondary-color,5),lighten(var.$primary-color,5));
        }
    }
}


@mixin menu-placeholders-mobile {
    %menu-type {
        display: flex;
        flex-direction: column;
        gap:22px;
        opacity: 0;
    }
    
    %menu-type-title {
        font-size: 12px;
        font-weight: normal;
        text-transform: uppercase;
        
        span {
            position: relative;
        }
    
        span::before{
            content: "";
            width: 100%;
            height: 3px;
            background-color: var.$third-color;
            position: absolute;
            bottom:-9px;
        }
    }
    
    %menu-type-list {
        padding:0;
        display: flex;
        flex-direction: column;
        gap:10px;
    
    }
    
    %menu-type-list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border-radius: 14px;
        padding-left: 10px;
        overflow: hidden;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,.1);
    }
    
    %menu-type-desc {
        display: flex;
        flex-direction: column;
        gap: 7px;
        width: 80%;

        h3, p {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    
    %menu-type-price {
        display: flex;
        font-weight: bold;
        
    
        .price {
            align-self: end;
            padding-bottom: 12px;
            transform: translateX(0);
            @include transition($time:1s)
        }
    
        .select {
            height:68px;
            width:auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            background-color:var.$third-color;
            color: white;
            border-radius: 0 10px 10px 0;
            transform: translateX(52px);
           
            @include transition($time:1s);
        }
        .select i {
            @include transition($time:0.5s);
          
        }
    }
    
    %hover-select {
        >.select {
            width: 52px;
            transform: translateX(0);
        }
        >.price {
            transform: translateX(-20px);
        }
    
        @include keyframe(rotate) {
            from {transform: rotate(0deg);}
            to {transform: rotate(360deg);}
        };
        
        >.select i {
            @include animation(rotate);
        }
    }

    %hover-desc-width {
        width:68%;
    }
}


@mixin article-menu ($menu-type:starters) {

    .menu-#{$menu-type} {
        @extend %menu-type;
    }

    .menu-#{$menu-type}-title{
        @extend %menu-type-title;
    }

    @at-root .menu-#{$menu-type}-list {

        @extend %menu-type-list;

        @at-root &-item {

            @extend %menu-type-list-item;

            &:hover .menu-#{$menu-type}-desc {

                @extend %hover-desc-width;
            }

            &:hover .menu-#{$menu-type}-price {
 
                @extend %hover-select;
            }
    
            @at-root .menu-#{$menu-type}-desc{
                @extend %menu-type-desc;
            }
    
            @at-root .menu-#{$menu-type}-price {
                @extend %menu-type-price;
            }
        }
    }
}

@mixin footer {
    .footer {
        display: flex;
        flex-direction: column;
        gap:16px;
        color:#fff;
        background-color:#353535;
        padding:12px 0 35px 24px;
    
        &-title {
            font-size: 18px;
        }
    
        @at-root &-navbar {
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            .nav-list {
                display: flex;
                flex-direction: column;
                padding:0;
                gap: 10px;
            }
    
            .nav-list a {
                display: flex;
                gap:12px;
            }
    
        }
    
    }
}

@mixin footer-tablette {
    .footer {
        flex-direction: row;
        align-items: center;
        padding-top: 35px;

        &-title {
            flex:1;
            font-size: 20px;
        }

        &-navbar {
            flex-direction: row;
            flex:2;
            justify-content: space-around;
        }
    }
}

@mixin footer-desktop {
    .footer {
        gap:0;
        &-title {
            text-align: center;
            font-size: 30px;
        }
    }

}

@mixin tablette-menuPage {
    .banner img {
        height:400px;
    }
    .menu-title-wrap {
        padding: 0 30px;
    }
    .menu-content-wrap {
        align-items: center;
    }

    .menu-starters, 
    .menu-dishes, 
    .menu-desserts {
        width:70%;
    }

    .menu-starters-list-item, 
    .menu-dishes-list-item, 
    .menu-desserts-list-item {
        padding:0 20px;
    }

    .menu-starters-list-item:hover .menu-starters-price > .select, 
    .menu-dishes-list-item:hover .menu-dishes-price > .select, 
    .menu-desserts-list-item:hover .menu-desserts-price > .select {
        width:65px;
        transform: translateX(20px);
    }

    @include footer-tablette;
}

@mixin desktop-menuPage {
    @include center-body;
    /******* Header *********/
    .header-icon {
        display: none;
    }

    /******* Menu ***********/

    .menu-content-wrap {
        flex-direction: row;
        align-items: flex-start;
        gap:0;
        justify-content: space-between;
        padding:0 10px;
    }

    .menu-starters, 
    .menu-dishes, 
    .menu-desserts {
        width:32%;
    }

    .menu-starters-list-item, 
    .menu-dishes-list-item, 
    .menu-desserts-list-item {
        padding:0 0 0 10px;
    }

    // .menu-starters-desc h3, 
    // .menu-dishes-desc h3, 
    // .menu-desserts-desc h3, 
    // .menu-starters-desc p, 
    // .menu-dishes-desc p, 
    // .menu-desserts-desc p {
    //     font-size: 12px;
    // }

    .menu-starters-list-item:hover .menu-starters-price, 
    .menu-dishes-list-item:hover .menu-dishes-price, 
    .menu-desserts-list-item:hover .menu-desserts-price {
        gap:10px;
    }


    .menu-starters-list-item:hover .menu-starters-price > .price, 
    .menu-dishes-list-item:hover .menu-dishes-price > .price, 
    .menu-desserts-list-item:hover .menu-desserts-price > .price {
        transform: translateX(-10px);
        padding-right: 0;
    }
    .menu-starters-list-item:hover .menu-starters-price > .select, 
    .menu-dishes-list-item:hover .menu-dishes-price > .select, 
    .menu-desserts-list-item:hover .menu-desserts-price > .select {
        width: 50px;
        transform: translateX(0px);
    }
    /******* footer ***********/

    @include footer-desktop;
}




