@use "./partials/base";
@use "./partials/var";
@use "./partials/mixin";
@use "./partials/responsive";

@include mixin.btn-placeholder;

@include mixin.keyframe (animateC){
    0% {
        transform:rotate(0deg);
    }
  
    100% {
        transform:rotate(360deg);
    }
}

@include mixin.keyframe(animate-ball) {
    0%{
        transform:rotate(45deg);
    }
    100%{
        transform:rotate(405deg);
    }
}

@include mixin.keyframe(disappear) {
    0% {
        opacity: 1;
        z-index: 2;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@include mixin.keyframe(show) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.loading {
 width:100%;
 background-color: rgb(245, 239, 239);
 position: fixed;
 top: 0;
 bottom: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 2;
 animation: disappear 3s linear forwards;

    @at-root .ring {
        width:150px;
        height:150px;
        background:transparent;
        border:3px solid #99E2D0;
        border-radius:50%;
        text-align:center;
        line-height:150px;
        font-size:18px;
        color:#9356DC;
        letter-spacing:4px;
        text-transform:uppercase;
        text-shadow:0 0 10px #FF79DA;
        box-shadow:0 0 20px rgba(0,0,0,.5);
        position: relative;

        &::before {
            content:'';
            position:absolute;
            top:-3px;
            left:-3px;
            width:100%;
            height:100%;
            border:3px solid transparent;
            border-top:3px solid #9356DC;
            border-right:3px solid #FF79DA;
            border-radius:50%;
            animation:animateC 2s linear infinite;
        }

        span {
            display:block;
            position:absolute;
            top:50%;
            width:50%;
            height:4px;
            background:transparent;
            transform-origin:right;
            animation:animate-ball 2s linear infinite;

            &::before {
                content:'';
                position:absolute;
                width:16px;
                height:16px;
                border-radius:50%;
                background:linear-gradient(#FF79DA,#99E2D0,#9356DC);
                top:-6px;
                left:-8px;
                box-shadow:0 0 20px #99E2D0;
                animation:animate-ball 2s linear infinite;
            }
        }
    }
}

.content {
    opacity: 0;
    animation: show .5s linear 3s forwards;
}

/************* Header **************/
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3px;

    @at-root &-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        padding:17px 0;
        box-shadow: 0px 3px 12px 0px rgb(0 0 0 / 20%);

        img {
            width: 162px;
            object-fit: cover;
            // width: 43%;
        }
    }

    @at-root &-location {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 16px;
        padding:16px 0;
        background-color: #eaeaea;
        
    }
}

/************ Section Intro **************/
.Intro {
    display: flex;
    flex-direction: column;
    gap:50px;

    @at-root &-discover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:22px;
        padding:45px 0;
        background-color: var.$bcg-color;
        text-align: center;

        h2 {
            font-size: 20px;
            max-width: 230px;
        }

        h3 {
            display: flex;
            font-size: 14px;
            white-space: pre-line;
            font-weight: normal;
        }

        a {
            padding:15px 20px;
            font-size: 14px;
            
            @extend %btn;
           
        }
    }

    @at-root &-fonctioning {
        display: flex;
        flex-direction: column;
        gap:30px;

        h2 {
            font-size: 18px;
            padding-left: 20px;
        }

        .navbar-list {
            display:flex;
            flex-direction: column;
            gap:16px;
            padding:0 18px 0 33px;
            font-size: 14px;

            &-item a {
                display: flex;
                position: relative;
                justify-content: space-around;
                height: 72px;
                align-items: center;
                background-color: var.$bcg-color;
                border-radius: 15px;
                @include mixin.shadow;
                @include mixin.transition;
            
                &:hover{
                    background-color: lighten(var.$primary-color, 35);
                    
                    i {
                        color:var.$primary-color;
                    }
                }
                
            }

            &-item span {
                position: absolute;
                width: 25px;
                height:25px;
                line-height: 25px;
                text-align: center;
                border-radius: 50%;
                background-color:var.$primary-color;
                color: #fff;
                left: -12px;
            }

            &-item i {
                flex:1;
                text-align: center;
                color:#7e7e7e;
                @include mixin.transition;
            }

            &-item h3 {
                flex:4;
            }
        }
    }
}


/************* Section Restaurants ************/

 .rest {
     display: flex;
     flex-direction: column;
     gap:26px;
     background-color:var.$bcg-color;
     margin-top: 63px;
     padding:58px 0;
   
     h2{
         font-size: 18px;
         padding-left: 20px;
     }

     @at-root &-list{
         display: flex;
         flex-direction: column;
         gap:17px;
         padding:0 20px;


         &-item a {
            display: flex;
            flex-direction: column;
            gap: 16px;
            position: relative;
            border-radius: 15px;
            background-color: #fff;
            @include mixin.shadow;
         }

         &-item img {
             width:100%;
             object-fit: cover;
             height: 175px;
             border-radius: 15px 15px 0 0;
         }

         &-info-wrap {
             display: flex;
             justify-content: space-between;
             padding:0 25px 11px 12px;
         }

         &-info {
             display: flex;
             flex-direction: column;
             gap:5px;
         }

         &-icon {
             @include mixin.heart-icon;
         }
  
         .newTag {
            font-size: 12px;
            padding:6px 14px;
            background-color: var.$third-color;
            position: absolute;
            right: 12px;
            top:12px;
            color: darken(var.$third-color,40);
            font-weight: bold;
            border-radius: 3px;
            @include mixin.shadow;
        }
     }
 }

/************* footer ***************/
@include mixin.footer;


/************* Media Query ************/

/*********** for tablette ************/
@include responsive.mediaQuery(767.98px){
    /********* Header **********/
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding:10px 20px 20px;
        background-color: var.$bcg-color;

        &-logo {
            box-shadow: none;
        }

        &-location {
            background-color: unset;
        }

        &-logo,
        &-location {
            width:auto;
        }
    }

    /********* Section Intro **********/
    .Intro {
        flex-direction: row;
        justify-content: space-between;
        padding: 43px 30px 30px;

        &-discover {
            flex:1;
            gap:42px;
            background-color: unset;
        }

        &-fonctioning {
            flex:1;

            h2 {
                align-self: center;
            }

            .navbar-list-item a {
                background-color: unset;
            }

            .navbar-list-item h3 {
                flex:2;
            };
        }
    }

    /********* Section rest *********/

    .rest-list {
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 25px;

        &-item {
            width:48%;
        }
    }

    /******** Footer ***********/

    @include mixin.footer-tablette;
}


/********** for desktop *************/
@include responsive.mediaQuery(991.98px){

    @include mixin.center-body;

    /********** Header *********/
    .header {
        background-color: unset;
        padding-bottom: 0;
    }
    /********** section Intro *********/
    .Intro {
        flex-direction: column;
        padding:0 0 0px;

        &-discover {
            background-color: var.$bcg-color;
        }

        &-fonctioning h2 {
            align-self: flex-start;
            font-size: 20px;
        }

        &-fonctioning .navbar-list {
            flex-direction: row;
            gap: 64px;
        }

        &-fonctioning .navbar-list-item {
            flex:1;
        }
    }
    /********** section rest *********/
    .rest-list-item a {
        height:300px;
    }

    .rest-list-item img {
        flex:1;
    }

    /********** footer *********/
    @include mixin.footer-desktop;
}
 

