@use "./partials/base";
@use "./partials/var";
@use "./partials/mixin";

@include mixin.btn-placeholder;

/************* Header **************/
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3px;

    @at-root &-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        padding:17px 0;
        box-shadow: 0px 3px 12px 0px rgb(0 0 0 / 20%);

        img {
            width: 162px;
            object-fit: cover;
            // width: 43%;
        }
    }

    @at-root &-location {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 16px;
        padding:16px 0;
        background-color: #eaeaea;
        
    }
}

/************ Section Intro **************/
.Intro {
    display: flex;
    flex-direction: column;
    gap:50px;

    @at-root &-discover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:22px;
        padding:45px 0;
        background-color: var.$bcg-color;
        text-align: center;

        h2 {
            font-size: 20px;
            max-width: 230px;
        }

        h3 {
            display: flex;
            font-size: 14px;
            white-space: pre-line;
            font-weight: normal;
        }

        a {
            padding:15px 20px;
            font-size: 14px;
            
            @extend %btn;
           
        }
    }

    @at-root &-fonctioning {
        display: flex;
        flex-direction: column;
        gap:30px;

        h2 {
            font-size: 18px;
            padding-left: 20px;
        }

        .navbar-list {
            display:flex;
            flex-direction: column;
            gap:16px;
            padding:0 18px 0 33px;
            font-size: 14px;

            &-item a {
                display: flex;
                position: relative;
                justify-content: space-around;
                height: 72px;
                align-items: center;
                background-color: var.$bcg-color;
                border-radius: 15px;
                @include mixin.shadow;
                @include mixin.transition;
                
                &:hover{
                    background-color: lighten(var.$primary-color, 35);
                    
                    i {
                        color:var.$primary-color;
                    }
                }
                
            }

            &-item span {
                position: absolute;
                width: 25px;
                height:25px;
                line-height: 25px;
                text-align: center;
                border-radius: 50%;
                background-color:var.$primary-color;
                color: #fff;
                left: -12px;
            }

            &-item i {
                flex:1;
                text-align: center;
                @include mixin.transition;
            }

            &-item h3 {
                flex:4;
            }
        }
    }
}


/************* Section Restaurants ************/

 .rest {
     display: flex;
     flex-direction: column;
     gap:26px;
     background-color:var.$bcg-color;
     margin-top: 63px;
     padding:58px 0;
   
     h2{
         font-size: 18px;
         padding-left: 20px;
     }

     @at-root &-list{
         display: flex;
         flex-direction: column;
         gap:17px;
         padding:0 20px;


         &-item a {
            display: flex;
            flex-direction: column;
            gap: 16px;
            position: relative;
            border-radius: 15px;
            background-color: #fff;
            @include mixin.shadow;
         }

         &-item img {
             width:100%;
             object-fit: cover;
             height: 175px;
             border-radius: 15px 15px 0 0;
         }

         &-info-wrap {
             display: flex;
             justify-content: space-between;
             padding:0 25px 11px 12px;
         }

         &-info {
             display: flex;
             flex-direction: column;
             gap:5px;
         }

         &-likes {
            font-size: 20px;
            position: relative;
            height: 20px;
            background-clip:padding-box;

            &:hover{

                .like {
                    opacity: 1;
                }

                .like-stroke {
                    opacity: 0;
                }
            }

            .like {
                opacity: 0;
                background: linear-gradient(to right,var.$secondary-color,var.$primary-color);
                background-clip: text;
                -webkit-text-fill-color:transparent;
                @include mixin.transition(.5s);
            }

            .like-stroke {
                position: absolute;
                left: 0;
                @include mixin.transition(.5s);
            }
        }
        
         .newTag {
            font-size: 12px;
            padding:6px 14px;
            background-color: var.$third-color;
            position: absolute;
            right: 12px;
            top:12px;
            color: darken(var.$third-color,40);
            font-weight: bold;
            border-radius: 3px;
            @include mixin.shadow;
        }
     }
 }

/************* footer ***************/
@include mixin.footer;
 

